<aside class="day-qoute">
  <div class="day-description">
    <h3 class="day-title">Quote of the day</h3>
    <p class="day-text">
      
    </p>
    <span class="day-author"></span>
    
  </div>
<div class="thumb ">
    <img class="day-image" src="../img/women-sportswear-taking@1x.jpg" alt="">
</div>
<div class="day-daily-norm">
    <p class="daily-norm-time">110 min</p>
    <span class="daily-norm-desc">Daily norm of sports</span>
    <p class="daily-norm-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
    </p>
</div>
</aside>
