<div class="ex-wrapper">
  <h2 class="ex-title">Exercises</h2>
  <form class="search visually-hidden">
    <input class="search-input" type="text" /><button
      class="search-btn"
      type="submit"
    ></button>
  </form>
  <ul class="ex-filter-list">
    <li><button class="ex-filter-btn filter-btn-active" data-filter="Body parts" data-next="bodypart">Body parts</button></li>
    <li><button class="ex-filter-btn" data-filter="Muscles" data-next="muscles">Muscles</button></li>
    <li><button class="ex-filter-btn" data-filter="Equipment" data-next="equipment">Equipment</button></li>
  </ul>
</div>
