/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./aside-ex.css');
@import url('./exersice.css');
@import url('./container.css');

:root {
  font-size: 14px;
  color: #242424;
  font-family: 'PP Neue Montreal', sans-serif;
  font-style: normal;
  font-weight: 400;
}
body{
  margin: 0;;
}
@font-face {
  font-family: 'PP Neue Montreal';
  src: url(../fonts/NeueMontreal-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url(../fonts/NeueMontreal-Italic.otf);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url(../fonts/NeueMontreal-Medium.otf);
  font-style: normal;
  font-weight: 500;
}
*,::before,::after{box-sizing: border-box;}
body{
  background-color:#F4F4F4;
}